*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
background-color: rgba(0, 0, 0, 0.664);
}
.container{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bocks_input{
	display: flex;
	flex-direction: column;
}
label{
color: rgb(255, 241, 185);
font-size: 22px;
text-align: center;
}
input{
	margin-top: 10px;
	width: 200px;
	height: 30px;
	border-radius: 20px;
	padding: 0 10px;
	background-color: rgb(251, 253, 228);
}
button{
	width: 75px;
	height: 35px;
	font-size: 20px;
	border-radius: 3pt;
	padding: 5px;
	margin-top: 15px;
	color: rgb(255, 241, 185);
	background-color: black;
}
button:hover{
	color: rgba(255, 251, 0, 0.89);
	transform: scale(1.1);
	transition-duration: 0.5s;
box-shadow: 0 0 10px ghostwhite;
}
button:active{
	background-color:rgba(69, 138, 0, 0.795);
	transform: scale(1);
	transition-duration: 0.3s;
}

.text{
	margin-top: 10px;
	border: thick double #dde480;
	background-color: rgb(0, 0, 0);
	color: cornsilk;
	text-align: center;
	width: 210px;
	height: 350px;
	padding: 5px;
	font-size: 30px;
	text-overflow: inherit ;
	border-radius: 16px;
	overflow: auto;
}