body{
background-color: rgb(17, 13, 13);
}
.press{
	height: 100vh;
	display: flex;
	justify-content: center;
}

button {

	width: 500px;
	height: 500px;
	background: url('pngwing.com.png') 50% / 120% 120% no-repeat;
	background-color: blueviolet;
	border-radius: 240px;
	align-self: center;
   padding: 0px;
	border: 0px;
	transform:scale(0.6) rotate(180deg);
	transition-duration: .6s;
}

button:hover{
	transform: rotate(360deg) scale(1);
	transition-duration: .6s;
	box-shadow: 0 0 10px aliceblue;
	background-color: rgb(182, 76, 120);
}